.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-black {
  color: #000000;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .page-header {
    color: var(--primary-text-color-theme-dark);
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .logo-black {
    color: #000000;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .menu__link {
    font-family: var(--primary-font);
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    display: block;
    transition: color var(--transition-dur-and-func);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .menu__link_current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0px;
    margin-bottom: -1px;
    transition: background-color var(--transition-dur-and-func);
  }
  .menu__link_current {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
